<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluir Produto</title>
</head>
<body>
    <form action="#" th:action="@{/produto}" th:object="${produtoDto}" method="post">
      <label for="name">Name</label>
      <input type="text" th:field="*{nome}" id="name" placeholder="nome">

      <label for="descricao">Descricao</label>
      <input type="text" th:field="*{descricao}" id="descricao" placeholder="descricao">

      <label for="dataLancamento">Data de Lançamento</label>
      <input type="date" th:field="*{dataLancamento}" id="dataLancamento">

      <label for="valor">Valor</label>
      <input type="number" th:field="*{valor}" id="valor">

      <input type="submit" value="Add produto" />
    </form>

    <div>
        <h2>Lista de produtos cadastrados: </h2>
        <ul th:each="produto: ${produtosList}">
            <li th:text="${produto.getNome()}"></li>
            <li th:text="${produto.getDescricao()}"></li>
            <li th:text="${produto.getDataLancamento()}"></li>
            <li th:text="${produto.getValor()}"></li>
        </ul>
    </div>
</body>
</html>