<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluir Produto</title>
</head>
<body>
    <form action="#" th:action="@{/produto}" th:object="${produto}" method="post">
      <label for="name">Name</label>
      <input type="text" th:field="*{nome}" id="name" placeholder="nome">

      <label for="descricao">Descricao</label>
      <input type="text" th:field="*{descricao}" id="descricao" placeholder="descricao">

      <label for="dataLancamento">Data de Lançamento</label>
      <input type="date" th:field="*{dataLancamento}" id="dataLancamento">

      <label for="valor">Valor</label>
      <input type="number" th:field="*{valor}" id="valor">

      <input type="submit" value="Add produto" />
    </form>

    <div>

        <h2>Lista de produtos cadastrados: </h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Data de Lançamento</th>
                    <th>Valor</th>
                    <th>Atualizar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto: ${produtosList}">
                    <td th:text="${produto.getNome()}"></td>
                    <td th:text="${produto.getDescricao()}"></td>
                    <td th:text="${produto.getDataLancamento()}"></td>
                    <td th:text="${produto.getValor()}"></td>
                    <td><a th:href="@{/produto/atualizar/{id}(id=${produto.getId()})}" class="btn btn-primary">Atualizar</a></td>
                    <td><a th:href="@{/produto/delete/{id}(id=${produto.getId()})}" class="btn btn-primary">Deletar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</body>
</html>